/* Add your custom styling here */
.contact-page {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 600px;
  }
  
  h1 {
    text-align: center;
  }
  
  label,
  textarea {
    display: block;
    margin-bottom: 10px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  
  }
  
  .error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  
  .success-message {
    color: green;
    font-size: 16px;
    margin-top: 10px;
  }
  

  @media only screen and (max-width: 768px){
    .contact-page{
        width: 85%;
    }

  }
